@using Desafio2_DAS.Models;
@{

//@using System.Collections.Generic;
    @model List<rates>

}

<div class="jumbotron">

</div>

<div class="row">
    
    <div class="row">
        <div class="card">
            <div class="card-heading text-center"><b><p>TOP 5 BEST RATED MOVIES</p></b></div>
            <div class="card card-default">
                <div class="card-body">
                    <canvas id="barChart" style="height: 400px;" class="text-center"></canvas>
                </div>
            </div>
        </div>
        
        
        
        <script type="text/javascript">
            var labels = [];
            var data = [];
            document.addEventListener('DOMContentLoaded', function () {
                
                @foreach (var rates in Model)
                {
                    <text>
                        labels.push('@rates.titulo');
                console.log(labels);
                        data.push(@rates.promedio_calificacion);
                
                    </text>
                }
                 

                var ctx = document.getElementById('barChart').getContext('2d');
                var barChart = new  Chart  (ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Scores',
                            data: data,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 3
                        }]

                    },
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,

                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                fontSize: 20 // Tamaño de la letra de las leyendas del eje Y
                            }
                            }

                        },
                        
                    },
                    plugins: {
                        legend: {
                            labels: {
                                font: {
                                    size: 20
                                }
                            }
                        }
                    }

                    })
                })
        </script>


    </div>
</div>